
/*undefined skinning*/


/*landing main*/
#wrapper, body, html, .bgMain, #bonuses_content{
  background: #ececec;
  color: #000 !important;
}
.platformForgPass {
  color: #000 !important;
}
#wrapper input,
#wrapper textarea,
.ui-btn,
#wrapper select{
  background-color: #c6c6c6;
  color: #000;
  border-radius: 6px !important;
}
#wrapper label{
  color: #000;
}
#wrapper input::-webkit-input-placeholder,
#wrapper input::-ms-input-placeholder,
#wrapper input::placeholder {
  color: #000;
}
.casino_h_link_cont .clr_sec{
  background: #ececec;
  color: #000 !important;
}
.casino_links_tabs .home_icon:before {
  color: #009c74;
}
.casino_links_tabs a{
  background: #ececec;
  color: #000;
}

/*header*/
#header{
  background: #ececec;
  color: #000;
}
.LinkToLeftPanel{
  color: #000;
}
.user_balance{
  flex-direction: column;
}
.btn_deposit{
  background: #009c74;
  color: #fff;
  border-radius: 6px;
  padding-left:5px;
  padding-right:15px;
}

.user_info a,
.user_info .txt {
  color: #000 !important;
}

/*buttons*/
.btn_sec,
.game__link_demo {
  background-color: #d5d5d5 !important;
  color: #000 !important;
  border-radius: 6px;
}
.btn_prim,
.favorite_see__notlogin_button,
.game__link_play {
  background: #009c74 !important;
  color: #fff !important;
  border-radius: 6px;
}

/*main menu*/
.nav_item {
  background: #c6c6c6 !important;
  color: #000 !important;
  border-radius: 6px;
}
.nav_item>img {
  padding: 16px 23px 40px;
  max-height: 30vw;
  object-fit: contain;
}
.nav_title{
  color: #000 !important;
}

/*middle banner*/
.middle_banner_mob a{
  border-radius: 6px;
}

/*widget name*/
.name_vidget{
  border-radius: 6px;
  background: #c6c6c6 !important;
  color: #000 !important;
}


/*top casino games*/
.slot_banners a{
  border-radius: 6px;
}

/*footer*/
#footer{
  background: #d6d6d6;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
}
.drop_down_lang {
  padding: 0 24px !important;
  background: #d6d6d6;
  color: #000;
}
.drop_down_lang_arrow:after{
  border-top-color: #000;
}
.drop_down_lang__front_el{
  display:none;
}

/*left panel*/
#left-panel,
.lm__container{
  background: #ececec;
  color: #000;
}
.lm__block{
  background: #d5d5d5;
  color: #000 !important;
}
.lm_link,
.lm_link_noic{
  background: #d5d5d5;
  color: #000;
  border-bottom-color: #ececec;
}

.lm_link a,
.lm_link_noic a,
.lm_link a:before,
.lm__block:before{
  color: #000 !important;
}

/*right panel*/
#right-panel,
.panel,
.PlatformLoggedUser {
  background: #ececec;
  color: #000;
}
.ui-collapsible-content{
  background: #ececec !important;
  color: #000;
}
#right-panel .right_menu_close{
  font-size: 20px;
  background: #d5d5d5;
  color: #000;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}
.account_title{
  text-align: center;
  color: #009c74;
  font-weight: 500;
  font-size: 16px;
}
.playerId{
  text-align: center;
}
.menuRow,
.menuBtn{
  background: #d5d5d5;
  color: #000;
}


/*payment*/
.heading{
  background: #d5d5d5;
  color: #009c74;
}
.paym_txt1{
  color: #000;
}
.collapse_btn h3 > a{
  background: #d5d5d5;
  color: #000;
  border-bottom-color: #d5d5d5;
}
.collapse_btn h3 > a:before{
  color: #000;
}
.collapse_content .paym_txt{
  color: #000;
}
.paym_cond{
  color: #333333;
}
.paym_cond > span{
  color: #000;
}
.row label{
  color: #333333;
}
.paymentTypes .inp{
  background-color: #c6c6c6;
  color: #000;
  border-radius: 6px;
}
.ui-body-b .ui-body-inherit{
  border-radius: 6px;
}

/*my account*/
.successmassage {
  color: #7fbb89;
  line-height: 20px;
  background-color: #dedede;
  border-radius: 6px;
  text-align: center;
}
.accRowClr {
  background-color: #c6c6c6;
  color: #000;
}
.accRowClr td, .accRowClr td a{
  color: #000;
}


/*inbox*/
.tl_mail_header:before {
  color: #000;
}
.tl_mail_send_input,
.tl_mail_send_area{
  background-color: #c6c6c6;
  color: #000;
}
.tl_mail_attachfiel_screp{
  color: #000;
}
.tl_mail_attachfiel_download_btn{
  background-color: #c6c6c6;
  color: #000;
}

/*profile*/
.ui-radio .ui-btn.ui-radio-on:after{
  box-sizing: content-box;
  background-color: #009c74;
  border-color: #000;
}
.ui-checkbox-off:after, .ui-btn.ui-radio-off:after{
  background-color: #000;
}
.required-field{
  color: #009c74;
}


/*bonuses*/
.tab_item{
  background-color: #c6c6c6;
  color: #000 !important;
}
.tab_item.active{
  background-color: #009c74;
  color: #fff !important;
}


/*training*/
.training__info {
  color: #000;
  background: #c6c6c6;
}
.training__next {
  color: #009c74;
}

/*casino*/
.casino_nav__links_block{
  background-color: #c6c6c6;
  color: #000;
  border-radius: 6px;
}
.casino_nav__links_block a{
  color: #000;
}
.casino_nav__links_block a.active{
  color: #009c74;
}
.casino__container .New:after{
  background-color: #009c74;
  color: #fff;
}
.casino__container .New:before {
  border-top-color: #007d5d;
  border-right-color: #007d5d;
}
.menu_circle:before{
  box-shadow:  4px 3px 40px 1200px  #c6c6c6; 
}
.fixed_menu__play_button{
  background-color: #c6c6c6;
}
.fixed_menu__li.active{
  color: #009c74;
}

/*promotions*/
.tl_prom_filters{
  background: #c6c6c6;
  color: #000;
  margin: 5px;
}
.promo_clicked{
  background: #009c74;
  color: #fff;
  opacity: 1;
}
.promo_mobile_cont{
  background: #c6c6c6;
  color: #000;
}
.promo_mobile_title{
  color: #009c74;
}
.tl_promotions_more_info{
  background: #009c74;
  color: #fff !important;
}


/*search*/
.search_switcher {
  background-color: #c6c6c6;
}
.search_switcher:before {
  background-color: #000;
}
#advancedSearch.checked .search_switcher {
  background-color: #009c74;
}
.popup_flex_box{
  background-color: #ececec;
  color: #000;
}
.nc__heading,
.fs__input_wrap .close-search{
  color: #000;
}
.games_filter_title{
  background-color: #c6c6c6;
  color: #000;
  border-radius: 6px;
}
.games_filter_element, .games_filter_list_show{
  background-color: #c6c6c6;
  color: #000;
  border-radius: 6px;
}
.games_filter_element.active{
  background-color: #009c74;
  color: #fff;
}
.games_filter_list_show:after {
  border-top-color: #000;
}
.games_filter_popup__footer {
  background-color: #d5d5d5;
}
.games_filter_reset {
  background-color: #c6c6c6;
  color: #000;
}
.games_filter_show{
  background-color: #009c74;
  color: #fff;
}


/*my casino*/
.favorite_see__notlogin_text {
  color: #000;
}

/*opened game*/
.close__game__more_block::after{
  color: #fff;
}
.game__name {
  text-shadow: none;
  color: #fff;
}
.game__like {
  color: #000;
  background: #c6c6c6;
}


  